<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Change the Artist</h1>
    <p>Choose an artist</p>
      <form method="get" action="/artist">
        <select name="name">
          <option>taylor swift</option>
          <option>abba</option>
          <option>shawn mendes</option>
          <option> bruno mars</option>
          <option> vance joy</option>
        </select>
        <input type="Submit">
    </form>
  </body>
</html>
